In [2]:
import pandas as pd
import numpy as np
import catboost

df = pd.read_csv("train.csv")

In [3]:
df

          id3  user_id  id2  date  id1
0         714   464300   34     1    4
1         714   915655   34     1    4
2         316   262696   42     1    2
3          52   354280    4     1   10
4         581   218912   14     1   10
5         590  1029729   63     1    9
6         279    14946   49     1    4
7         783    14946   58     1    6
8         613   638732    3     1    6
9         254  1072612   37     1    6
10        397   327337   46     1   10
11        703   861305   16     1    9
12        324  1072292   39     1   12
13        694   967880   72     1   14
14        218   264139   15     1   10
15        875   109687    4     1   10
16        803   733016   40     1    7
17        610   557413   12     1    9
18        634   961869  107     1    9
19        249  1143483   79     1   11
20        611   364536   51     1    9
21        219   448027    1     1    6
22        860   672894  103     1    8
23        587   104229   23     1    7
24        171   726403   19     1    8
25        704   502204   34     1    4
26        794   913436   18     1    2
27        806   464300  108     1    4
28        387   141788  106     1    4
29        730   193855   77     1   15
...       ...      ...  ...   ...  ...
46996798  326  1122104   66    54   12
46996799  677   421554   56    54    9
46996800  586   128914  103    54    8
46996801  134   940807   14    54   10
46996802  586   172509  103    54    8
46996803  800    55227   14    54   10
46996804  581   343953   14    54   10
46996805   95    85235   51    54    9
46996806  456   463613   40    54    7
46996807   48    66731    4    54   10
46996808  610     1832   12    54    9
46996809  215   332843   23    54    7
46996810   95   544277   51    54    9
46996811  498   768725   46    54   10
46996812  581   557300   14    54   10
46996813  581   746120   14    54   10
46996814  879    27928   42    54    2
46996815  662   930035   51    54    9
46996816  340  1113859    2    54   10
46996817  255  1174569   84    54   12
46996818  610   894441   12    54    9
46996819  415   430442   37    54    6
46996820  700   776001   84    54   12
46996821  280   579159   69    54    7
46996822  685   692630   14    54   10
46996823   69    44533   71    54   15
46996824  145   575754   37    54    6
46996825  333   608981  117    54   10
46996826  283    69644   85    54    7
46996827  142   348032  103    54    8

[46996828 rows x 5 columns]

In [5]:
df["interest"] = 1
popular = df.groupby('id3')['interest'].sum().sort_values(ascending=False).reset_index()
popular.head(10)

   id3  interest
0  610   2926211
1  581    824036
2  875    800398
3  204    511992
4  800    423661
5  586    387444
6   51    380773
7  134    380411
8   92    378476
9   41    343109

In [7]:
popular.to_csv("popular.csv", index = False)

In [9]:
df1 = df.drop_duplicates("id3")
graph1 = df1.groupby('id3')['id1'].apply(list)
graph2 = df1.groupby('id3')['id2'].apply(list)
result = pd.concat([graph1, graph2], axis=1)
dictionary = result.to_dict('index')

def get_category(id3):
    return [dictionary[id3]['id1'][0], dictionary[id3]['id2'][0]]

def get_category1(id3):
    return get_category(id3)[0]

def get_category2(id3):
    return get_category(id3)[1]

def number_of_diff_categories1(arr):
    q = []
    for i in arr:
        q.append(get_category(i)[0])
    return(len(list(set(q))))

In [10]:
popular['category1'] =popular['id3'].apply(get_category1)
popular['category2'] =popular['id3'].apply(get_category2) 
popular

     id3  interest  category1  category2
0    610   2926211          9         12
1    581    824036         10         14
2    875    800398         10          4
3    204    511992          9         12
4    800    423661         10         14
5    586    387444          8        103
6     51    380773         10         14
7    134    380411         10         14
8     92    378476          8         96
9     41    343109          7         40
10   456    335449          7         40
11   310    333850          9        109
12   619    333640          8        103
13   685    320722         10         14
14   136    298584          8         96
15   700    293626         12         84
16   662    292975          9         51
17   604    288004          9        109
18    69    286463         15         71
19   329    285431          9         12
20   415    277087          6         37
21   280    276432          7         69
22   162    269309          9         51
23   860    264034          8        103
24   145    262061          6         37
25   718    256896         12         84
26   822    250009         12         25
27   377    243306          9         56
28   142    243014          8        103
29   554    242582          7         22
..   ...       ...        ...        ...
894  235       230          4        102
895  739       211          5         38
896  225       194         14         73
897  452       176          5         17
898  378       176          5         38
899  301       175         15         70
900   59       173          5         38
901  638       163          1         68
902   15       147          4         53
903  821       130          5         83
904    2       106         13         31
905  873       104          5         38
906  406       100          5         38
907   91        90          5         38
908  830        65          5         97
909  668        65          5         38
910  386        62          5         38
911  484        56          4        102
912  734        48          3         82
913  854        34          6         89
914  149        24          5         38
915  675        14          9         12
916  423        13          5         38
917  359        12          5         38
918   11         4          7         22
919  905         3          2         94
920  529         2          7         85
921  178         1         12         84
922  870         1          5         38
923  395         1         10          2

[924 rows x 4 columns]

In [11]:
popular.to_csv("popular.csv", index = False)